# General files
.DS_Store

# Temporary files
*.temp.json

# Node and NPM
node_modules/
.npmrc

# Report folder/files
/playwright-report/

# Page state files saved in global-setup for current session
/browser-states/

# Local Visual Snapshots
**/*-snapshots/local/
